<h2>Estadíaticas</h2>

<b>Número de preguntas: </b><%= numPreguntas %><br/>
<b>Número de comentarios totales: </b><%= numComentariosTotal %><br/>
<b>Número medio de comentarios por pregunta: </b><%= mediaComentarioPorPreg %><br/>
<b>Número de preguntas sin comentarios: </b><%= numPregSinComentar %><br/>
<b>Número de preguntas con comentarios: </b><%= numPregComentadas %><br/>
